[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
flask-accepts = "*"
marshmallow = "*"
celery = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy = "*"
flask = "*"
pandas = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.8"
